<div class="flex flex-col">

    <div class="flex flex-row mt-8 select-none justify-between">
        <div class="align-top text-6xl text-recappt-gray">
            <a href="http://localhost:5000">
                <fa-icon icon="grip"></fa-icon>
            </a>
        </div>
        <div class="flex">
            <h1 class="mx-3 text-9xl font-header font-bold bg-gradient-recappt-white bg-clip-text text-transparent">{{title}}</h1>
            <img src="assets/img/cow-chef.png" [ngClass]="{ '-scale-x-flip': mustFlipCow }" alt="Chef Cow" class="h-32 mx-3">
        </div>
        <div></div>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

</div>
